html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	color: var(--black);
	background: var(--background-primary);
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

:root {
	--black: #3b434e;
	--white: #fff;
	--primary: #7653fc;
	--gray-light: #ebebeb;
	--gray-dark: #787d85;
	--primary-hover: #6344df;
	--background-primary: #f5f6f8;
	--red: #fc836d;
	--green: #1dc37e;
	--green-light: #c8f8e4;
	--font-family: 'Noto Sans', sans-serif;
}
